/* Я просто хочу бэк 😎 и терпеть не могу фронт 🤮, поэтому меня хватило только на это */
/* Хардкод сила, лейаут могила */

@font-face {

	font-family: 'Raleway';
	src: url(../fonts/Raleway-VariableFont_wght.ttf);

}

body {
    font-family: "Raleway";
    font-style: normal;
    color: #181818;
}

.nav__logo__text {

    width: 93px;
    height: 24px;
    
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    /* identical to box height, or 150% */
    text-transform: uppercase;
    
    color: #000000;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.nav__logo__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 8px;

    position: absolute;
    width: 109px;
    height: 32px;
    left: 12%;
    top: 28px;

    border: 2px solid #000000;
    border-radius: 8px;
}

.nav__main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 32;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 446px;
    height: 25px;
}

.nav__main > div {
    flex: none;
    flex-grow: 0;
    width: 85px;
    text-align: center;
}

.nav__main__examples {
    order: 0;
}

.nav__main__services {
    order: 1;
}

.nav__main__process {
    order: 2;
}

.nav__main__about {
    order: 3;
}

.nav__main__contacts {
    order: 4;
}

.title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 804px;
    height: 128px;
    left: 318px;
    top: 184px;
    
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    
    /* or 100% */
    text-align: center;
    letter-spacing: -0.02em;

}

.title__small {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 484px;
    height: 48px;
    left: 478px;
    top: 352px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* or 150% */
    text-align: center;

    color: #000000;
}

.title__buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 452px;
    height: 56px;
    margin-top: 100px;
    margin-left: auto;
    margin-right:auto;
}

.title__buttons__tg {
    width: 215px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;

    line-height: 56px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.title__buttons__portfolio {
    width: 211px;
    height: 52px;

    background: #ffffff;

    border: 2px solid #181818;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.title__buttons__portfolio__play {
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 18x;
    height: 22px;

}

.title__buttons__portfolio__text {
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.examples {
    margin-top: 100px;
}

.examples__nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 17px;

    width: 473px;
    height: 32px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.examples__nav > div {
    padding: 4px 12px;
    text-align: center;
    border: 2px solid #181818;
    border-radius: 999px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.examples__nav__all {
    background: #181818;
    color: white;
}

.example__large {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.example__grid {
    display: flex;
    width: 75%;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
}

.example__small {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.about {
    width: 75%;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 32;
}

.about__info {
    width: 50%;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.about__photo {
    width: 50%;
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 16px;
}

.about__title {
    margin-top: 64px;
    margin-left: 32px;
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
}

.about__desc {
    margin-left: 32px;
    margin-top: 50px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.about__facts { 
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
    align-items: flex-start;
    gap: 32;

    margin-left: 32px;
    margin-top: 50px;
}

.about__fact1 {
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about__fact2 {
    flex: none;
    order: 1;
    flex-grow: 0;
}
.about__fact3 {
    flex: none;
    order: 2;
    flex-grow: 0;
}

.about__facts__number {
    width: 80px;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.about__facts__desc {
    width: 80px;

    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.services {
    display:block;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 100px;
    background: #181818
}

.services__title {
    display: block;

    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;

    color: white;
}

.services__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 75%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


.service__frame {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 16px;
    width: 368px;
    height: 384px;
    padding: 16px;
}

.service__frame__no {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
}

.service__frame__title {
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.service__frame__desc {
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: auto;
}

.service__frame__line {
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    width: 64%;
    color: #181818;
    margin-right: auto;
    margin-left: 0px;
}

.service__frame__price {
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}